@{
    ViewData["Title"] = "Example app";
}
<a class="twitter-link" href="https://twitter.com/home/?status=I just hosted a website on AWS! This is dev branch changes."><img src="img/tweet.svg" /></a>
<div class="text">
    <h1>Congratulations! This is my first changes</h1>
    <h2>@ViewData["Message"]</h2>
</div>
